### Imports
- pandas: for holding the data in a pandas.DataFrame object
- wandb: for logging findings

In [109]:
import pandas as pd
import wandb
import matplotlib.pyplot as plt

### Load data

In [110]:
data = pd.read_csv("data/train.csv")

### Exploratory Data Analysis
1. Check number of rows of data
2. Check for any null values
3. Check for any na values
4. Check for empty strings
5. Check datatypes of all columns
6. Find unique values for each column

In [111]:
# check number of data points
len(data)

60000

In [112]:
# check for any null values
data.isnull().any()

rent_approval_date     False
town                   False
block                  False
street_name            False
flat_type              False
flat_model             False
floor_area_sqm         False
furnished              False
lease_commence_date    False
latitude               False
longitude              False
elevation              False
subzone                False
planning_area          False
region                 False
monthly_rent           False
dtype: bool

In [113]:
# check for any na values
data.isna().any()

rent_approval_date     False
town                   False
block                  False
street_name            False
flat_type              False
flat_model             False
floor_area_sqm         False
furnished              False
lease_commence_date    False
latitude               False
longitude              False
elevation              False
subzone                False
planning_area          False
region                 False
monthly_rent           False
dtype: bool

In [114]:
# check for any empty strings
data.eq('').any()

rent_approval_date     False
town                   False
block                  False
street_name            False
flat_type              False
flat_model             False
floor_area_sqm         False
furnished              False
lease_commence_date    False
latitude               False
longitude              False
elevation              False
subzone                False
planning_area          False
region                 False
monthly_rent           False
dtype: bool

In [115]:
# check data types for each column
data.dtypes

rent_approval_date      object
town                    object
block                   object
street_name             object
flat_type               object
flat_model              object
floor_area_sqm         float64
furnished               object
lease_commence_date      int64
latitude               float64
longitude              float64
elevation              float64
subzone                 object
planning_area           object
region                  object
monthly_rent             int64
dtype: object

In [116]:
# find unique values
for c in data.columns:
    print(c, data[c].unique(), len(data[c].unique()))

rent_approval_date ['2021-09' '2022-05' '2022-10' '2021-08' '2022-11' '2023-04' '2021-01'
 '2022-06' '2021-10' '2021-04' '2021-03' '2022-02' '2021-07' '2022-12'
 '2023-01' '2022-01' '2023-07' '2021-06' '2023-05' '2023-03' '2021-05'
 '2021-02' '2022-07' '2023-06' '2022-03' '2023-02' '2021-12' '2022-04'
 '2021-11' '2022-08' '2022-09'] 31
town ['jurong east' 'bedok' 'toa payoh' 'pasir ris' 'kallang/whampoa'
 'bukit panjang' 'sengkang' 'ang mo kio' 'bishan' 'punggol'
 'choa chu kang' 'clementi' 'bukit batok' 'sembawang' 'jurong west'
 'woodlands' 'queenstown' 'yishun' 'bukit timah' 'marine parade'
 'bukit merah' 'geylang' 'hougang' 'tampines' 'serangoon' 'central'] 26
block ['257' '119' '157' ... '509c' '218a' '880a'] 2553
street_name ['Jurong East Street 24' 'bedok north road' 'lorong 1 toa payoh' ...
 'seng poh road' 'Jurong West Street 51' 'Zion Road'] 1083
flat_type ['3 room' '4-room' '3-room' 'executive' '5 room' '4 room' '5-room'
 '2-room' '2 room'] 9
flat_model ['new generation' 'improved' 'apartment' 'premium apartment' 'simplified'
 'model a' 'standard' 'dbss' 'model a2' 'maisonette' 'model a-maisonette'
 'type s1' 'adjoined flat' 'type s2' 'premium apartment loft' '2-room'
 'premium maisonette' 'terrace' '3gen'] 19
floor_area_sqm [ 67.   92.  149.   68.  130.  110.   84.  112.  104.  123.   60.   93.
  91.  113.   69.   81.   73.  121.   97.   64.   65.  100.   98.  141.
  85.  114.   90.   59.  120.  105.  115.  107.  144.  142.  147.  146.
 111.  125.   99.   47.  102.  116.   76.  145.   45.   74.   75.  122.
 106.   96.  117.  103.  132.   82.   70.  124.  119.  127.  101.   88.
 150.  135.  126.   94.   57.  136.   95.  118.   87.   58.   89.  128.
  72.   52.  139.  152.   53.   44.  143.   79.  133.   66.  148.  109.
  63.1 108.   63.  161.   83.   77.  134.  140.  138.   86.  131.   46.
 137.   62.  129.   56.   71.   80.   54.  177.   60.3 154.  159.   43.
  48.  162.  157.  155.   61.  166.   78.  156.   37.   42.  151.  173.
  49.  164.  176.   38.  160.  163.   40.  181.   55.  179.  189.   50.
  51.  153.  186.   34.  182.  192.  170.  215.  165.  180.  158.   83.1
 169.  168. ] 146
furnished ['yes'] 1
lease_commence_date [1983 1978 1971 1993 1972 2001 2005 1987 2003 1995 1986 2016 1981 2015
 1988 1984 1967 2002 1980 2000 1996 1985 1989 1975 1997 1998 2004 1977
 2014 1994 1999 1982 1970 2013 1979 1974 2018 2012 1992 2006 1973 1976
 2007 1990 2010 2008 1969 2011 2017 1991 2009 2019 1968 1966] 54
latitude [1.34451804 1.33018552 1.33224215 ... 1.44514889 1.39835828 1.35201371] 8612
longitude [103.73863033 103.93871661 103.84564306 ... 103.83392566 103.88907437
 103.93199932] 8612
elevation [0.] 1
subzone ['yuhua east' 'bedok north' 'toa payoh central' 'pasir ris drive'
 'bendemeer' 'saujana' 'fernvale' 'shangri-la' 'bishan east'
 'punggol field' 'peng siang' 'pasir ris west' 'bedok south'
 'clementi west' 'pasir ris central' 'guilin' 'sembawang central'
 'hong kah' 'woodgrove' 'commonwealth' 'anchorvale' 'jurong west central'
 'woodlands east' 'townsville' 'yishun west' 'yio chu kang west'
 'anak bukit' 'marine parade' 'alexandra hill' 'north coast' 'teck whye'
 'taman jurong' 'matilda' 'sengkang town centre' 'geylang east' 'fajar'
 'lorong ah soo' 'yunnan' 'hougang east' 'kim keat' 'tampines east'
 'yishun south' 'sembawang north' 'braddell' 'pei chun' 'yishun east'
 'macpherson' 'clementi north' 'telok blangah drive' 'chong boon'
 'tampines west' 'trafalgar' 'woodlands south' 'tiong bahru'
 'margaret drive' 'telok blangah rise' 'yew tee' 'khatib' 'joo seng'
 'punggol town centre' 'northland' 'kembangan' 'clementi central'
 'rivervale' 'kebun bahru' 'potong pasir' 'cheng san' 'hougang west'
 'teban gardens' 'senja' 'toa payoh west' 'choa chu kang north'
 'compassvale' 'ang mo kio town centre' 'serangoon garden' 'geylang bahru'
 'henderson hill' 'boon lay place' 'farrer park' 'hong kah north'
 'midview' 'lower seletar' 'boon teck' 'tai seng' 'everton park' 'kovan'
 'bukit batok central' 'dover' 'marymount' 'depot road' 'upper thomson'
 'redhill' 'bedok reservoir' 'simei' 'bukit batok west' 'mei chin'
 'serangoon central' 'keat hong' 'choa chu kang central' 'sunset way'
 'kaki bukit' 'waterway east' 'gombak' 'city hall' 'wenya' 'aljunied'
 'boon keng' 'bukit ho swee' 'telok blangah way' 'china square'
 'holland drive' 'bukit batok south' 'bukit batok east' 'ghim moh'
 'bangkit' 'victoria' 'toh guan' 'balestier' 'clementi woods' 'kangkar'
 'crawford' 'woodlands west' 'bugis' 'kampong ubi' "pearl's hill"
 'kampong tiong bahru' 'little india' 'yuhua west' 'chinatown'
 'tiong bahru station' 'tanglin halt' 'jelebu' 'sembawang east'
 'serangoon north' 'upper paya lebar' 'admiralty' 'lorong 8 toa payoh'
 'bukit merah' 'brickworks' 'kampong java' 'bencoolen' 'lavender'
 'hougang central' 'yishun central' 'sungei road' 'pasir panjang 2'
 'tanjong rhu' 'swiss club' 'frankel' 'ulu pandan' 'moulmein'
 'kampong bugis'] 152
planning_area ['jurong east' 'bedok' 'toa payoh' 'pasir ris' 'kallang' 'bukit panjang'
 'sengkang' 'ang mo kio' 'bishan' 'punggol' 'choa chu kang' 'clementi'
 'bukit batok' 'sembawang' 'jurong west' 'woodlands' 'queenstown' 'yishun'
 'bukit timah' 'marine parade' 'bukit merah' 'geylang' 'hougang'
 'tampines' 'serangoon' 'rochor' 'downtown core' 'outram' 'novena'] 29
region ['west region' 'east region' 'central region' 'north-east region'
 'north region'] 5
monthly_rent [1600 2250 1900 2850 2100 2300 1800 2450 2400 2000 3150 2700 4850 4400
 2600 2750 2150 2500 3000 3700 1950 1700 2950 4000 2200 1750 4500 4200
 3350 2050 3800 1850 3450 3250 1200 1250 4100 2550 4700 2350 1350 3050
 2800 3900 3100 3200 1050 1450 3300 3400 1650 4050 3550 3650 4600 3600
 1300 2900 4350 5250 3950 3500 3750 6200 4300 1400 5550  650 1100  800
  700 4950 6400 5200 5050 4550  950 3850 4450 5150  850 6500 1500 5600
 1150 4250  750 5350 5450  500 4900 2650 4150 6300 4800  300 6100 4650
 5100  900 1000 5650 6950 1550 5900  400 6000 5800 5000 5500  450 6450
 5400] 113

### Data Cleaning

##### 1. Convert all strings to lowercase

In [117]:
# convert strings to lowecase
for col in data.columns:
    if data[col].dtype == "object":
        data[col] = data[col].str.lower()
        print(data[col].unique())

['2021-09' '2022-05' '2022-10' '2021-08' '2022-11' '2023-04' '2021-01'
 '2022-06' '2021-10' '2021-04' '2021-03' '2022-02' '2021-07' '2022-12'
 '2023-01' '2022-01' '2023-07' '2021-06' '2023-05' '2023-03' '2021-05'
 '2021-02' '2022-07' '2023-06' '2022-03' '2023-02' '2021-12' '2022-04'
 '2021-11' '2022-08' '2022-09']
['jurong east' 'bedok' 'toa payoh' 'pasir ris' 'kallang/whampoa'
 'bukit panjang' 'sengkang' 'ang mo kio' 'bishan' 'punggol'
 'choa chu kang' 'clementi' 'bukit batok' 'sembawang' 'jurong west'
 'woodlands' 'queenstown' 'yishun' 'bukit timah' 'marine parade'
 'bukit merah' 'geylang' 'hougang' 'tampines' 'serangoon' 'central']
['257' '119' '157' ... '509c' '218a' '880a']
['jurong east street 24' 'bedok north road' 'lorong 1 toa payoh'
 'pasir ris street 21' 'whampoa west' 'senja road' 'fernvale road'
 'ang mo kio avenue 1' 'bishan street 11' 'edgedale plains'
 'choa chu kang avenue 4' 'pasir ris drive 1' 'bedok sth road'
 'fernvale link' 'choa chu kang avenue 3' 'clementi west street 2'
 'pasir ris street 51' 'bukit batok street 51' 'sembawang close'
 'jurong west avenue 1' 'woodlands street 31' 'commonwealth close'
 'anchorvale road' 'jurong west street 65' 'west coast road'
 'woodlands drive 62' 'ang mo kio avenue 3' 'pasir ris street 71'
 'yishun street 72' 'yishun ring road' 'ang mo kio avenue 6'
 'toh yi drive' 'marine terrace' 'jalan rumah tinggi' 'marsiling drive'
 'jalan teck whye' 'anchorvale street' 'tah ching road' 'punggol field'
 'punggol central' 'compassvale road' 'compassvale crescent'
 'edgefield plains' 'eunos crescent' 'bukit panjang ring road'
 'hougang street 11' 'jurong west street 91' 'upper serangoon crescent'
 'toa payoh east' 'compassvale walk' 'tampines street 33' 'canberra road'
 'choa chu kang avenue 5' 'jurong west street 81' 'jurong west street 61'
 'bedok sth avenue 2' 'toa payoh north' 'yishun street 41' 'balam road'
 'clementi avenue 6' 'pasir ris street 72' 'telok blangah hts'
 'lorong 4 toa payoh' 'woodlands drive 75' 'bedok sth avenue 3'
 'tampines street 71' 'tampines street 41' 'hougang avenue 9'
 'woodlands drive 16' 'boon tiong road' 'strathmore avenue'
 'bukit purmei road' 'woodlands avenue 6' 'choa chu kang crescent'
 'joo seng road' 'punggol road' 'yishun street 21' 'chai chee road'
 'ang mo kio avenue 4' 'bishan street 12' 'west coast drive'
 'yishun avenue 5' 'rivervale street' 'woodlands drive 53'
 'jurong west street 64' 'jurong west avenue 5' 'lorong 2 toa payoh'
 'bedok north street 3' 'potong pasir avenue 1' 'ang mo kio avenue 5'
 'hougang avenue 8' 'tampines street 21' 'teban gardens road'
 'yishun avenue 3' 'choa chu kang street 52' 'compassvale link'
 'ang mo kio avenue 8' 'serangoon avenue 4' 'clementi avenue 2'
 'lorong 7 toa payoh' 'jurong west street 92' 'tampines street 91'
 'geylang bahru' 'bukit merah view' 'boon lay drive' 'buffalo road'
 'bukit batok street 31' 'woodlands drive 50' 'bedok north street 2'
 'compassvale street' 'yishun street 51' 'lorong 5 toa payoh'
 'bedok north avenue 3' 'lorong ah soo' 'cantonment close'
 'boon lay place' 'choa chu kang street 51' 'kang ching road'
 'ang mo kio avenue 10' 'compassvale bow' 'telok blangah rise'
 'tampines street 11' 'tampines avenue 4' 'bishan street 13'
 'hougang avenue 2' 'telok blangah drive' 'anchorvale link'
 'woodlands street 82' 'bukit batok central' 'dover crescent'
 'jelapang road' 'bishan street 23' 'hougang street 91'
 'hougang street 22' 'tampines avenue 5' 'depot road' 'sin ming avenue'
 'tampines street 12' 'redhill close' 'bukit batok street 52'
 'clementi avenue 3' 'pasir ris drive 10' 'simei street 1'
 'tampines street 32' 'jurong east street 21' 'bukit batok street 11'
 'teck whye lane' 'woodlands street 81' 'mei ling street'
 'serangoon avenue 3' 'rivervale walk' 'clementi avenue 5'
 'choa chu kang central' 'clementi street 14' 'tampines street 24'
 'yuan ching road' 'bedok central' 'circuit road' 'yishun street 11'
 'serangoon central' 'choa chu kang drive' 'hougang avenue 10'
 'bedok reservoir road' 'punggol drive' 'tampines street 42'
 'rivervale drive' 'stirling road' 'bedok north avenue 2'
 'bukit batok west avenue 5' 'beach road' 'jurong west street 25'
 'woodlands crescent' 'sims place' 'upper boon keng road'
 'telok blangah street 31' 'woodlands drive 14' 'jalan klinik'
 'hougang street 61' 'simei lane' 'lengkok bahru' 'telok blangah crescent'
 'bukit batok west avenue 8' 'pasir ris street 52' 'upper cross street'
 'compassvale drive' 'marine drive' 'jurong west street 93'
 'sengkang central' 'elias road' 'rivervale crescent' 'holland close'
 'pasir ris drive 4' 'potong pasir avenue 3' 'tampines street 81'
 'serangoon north avenue 1' 'bukit batok west avenue 6'
 'bukit batok street 25' 'bukit batok east avenue 5' 'yishun street 71'
 'ghim moh road' 'fernvale street' 'pending road' 'chai chee street'
 'waterloo street' 'toh guan road' 'klang lane' 'choa chu kang avenue 2'
 'sengkang east way' 'yishun avenue 4' 'jalan tenteram'
 'ang mo kio avenue 9' 'clementi west street 1' 'punggol way'
 'hougang street 21' 'hougang street 52' 'jurong west street 71'
 'tampines street 22' 'hougang avenue 5' 'hougang avenue 7'
 'sembawang drive' 'pasir ris street 11' 'tampines street 34'
 'north bridge road' 'yung loh road' 'marsiling rise' 'sin ming road'
 'yishun avenue 9' 'jurong west street 41' 'commonwealth avenue west'
 'bain street' 'keat hong link' 'buangkok link' 'hougang street 51'
 'fernvale lane' 'bedok north street 1' 'admiralty drive'
 'compassvale lane' 'yishun street 61' 'anchorvale lane' 'beo crescent'
 'tampines street 45' 'bendemeer road' 'new upper changi road'
 'ubi avenue 1' 'toa payoh central' 'jalan kukoh' 'yishun street 20'
 'jurong west street 52' 'jalan bukit merah' 'marine crescent'
 'simei street 4' 'bedok sth avenue 1' 'jurong west street 42'
 'bedok north avenue 4' 'woodlands avenue 9' 'clementi avenue 4'
 'woodlands ring road' 'bukit batok east avenue 3' 'yishun street 81'
 'punggol place' 'tampines street 43' 'anchorvale drive' 'admiralty link'
 'boon lay avenue' 'tampines street 83' 'yishun avenue 6'
 'woodlands drive 73' 'tampines street 23' 'veerasamy road'
 'whampoa drive' 'lorong 8 toa payoh' 'woodlands drive 60' 'kim tian road'
 'choa chu kang loop' 'tampines avenue 8' 'bukit batok street 21'
 'sumang lane' 'jurong east street 31' 'hougang avenue 6'
 'clementi street 13' 'paya lebar way' 'cantonment road' 'jalan membina'
 'upper serangoon view' 'ang mo kio street 52' 'woodlands drive 42'
 'bangkit road' 'bukit batok street 32' 'tampines street 82'
 'tampines avenue 7' 'jurong east street 13' 'choa chu kang street 62'
 'commonwealth drive' 'serangoon central drive' 'aljunied crescent'
 'geylang east avenue 1' 'punggol field walk' 'eunos road 5'
 'jurong east street 32' 'sembawang crescent' 'pine close' 'yung ho road'
 'ho ching road' 'woodlands avenue 1' 'bishan street 24'
 'woodlands street 13' 'bukit batok east avenue 4' 'hougang avenue 1'
 'segar road' 'sengkang east road' 'jalan damai' 'choa chu kang north 5'
 'pandan gardens' 'mcnair road' 'lompang road' 'hougang avenue 3'
 'towner road' 'bedok north avenue 1' 'holland drive' 'kim keat link'
 'punggol walk' 'canberra crescent' 'crawford lane' 'woodlands rise'
 'clarence lane' 'pasir ris street 53' 'jurong east avenue 1'
 'cassia crescent' 'jalan dusun' 'serangoon north avenue 4'
 'serangoon avenue 1' 'simei street 5' 'serangoon avenue 2'
 'woodlands drive 71' 'bukit batok street 34' 'wellington circle'
 'kim keat avenue' 'rowell road' 'jalan bukit ho swee' 'buangkok crescent'
 'hougang avenue 4' 'teck whye crescent' 'bishan street 22' 'queen street'
 'yung sheng road' 'tampines street 44' 'yishun avenue 2'
 'yishun street 31' 'yishun street 22' 'corporation drive' 'jalan bahagia'
 'jurong west street 72' 'jalan tenaga' 'choa chu kang avenue 1'
 'choa chu kang street 53' 'serangoon north avenue 2'
 'bukit merah central' 'jurong west central 1' 'dawson road'
 'pasir ris drive 6' 'jurong west street 73' 'tampines avenue 9'
 'hougang street 92' 'jalan tiga' 'gangsa road' 'jelebu road'
 'pasir ris street 12' 'bedok reservoir view' 'tiong bahru road'
 'tanglin halt road' 'fajar road' 'bukit batok street 24'
 'teck whye avenue' 'sengkang west way' 'havelock road'
 'clementi avenue 1' 'potong pasir avenue 2' 'old airport road'
 'henderson crescent' 'bukit batok street 33' 'woodlands street 83'
 'taman ho swee' 'jurong west street 75' 'lorong limau' 'canberra link'
 'commonwealth crescent' 'dorset road' 'woodlands avenue 3'
 'bukit batok west avenue 4' 'sumang walk' 'simei road' 'selegie road'
 'woodlands drive 70' 'yishun central' 'race course road'
 'hougang street 31' 'bukit batok west avenue 2' 'hougang central'
 'woodlands drive 72' 'jellicoe road' 'yishun central 1' 'keat hong close'
 "queen's close" 'zion road' 'cambridge road' 'simei street 2'
 'montreal drive' 'yishun avenue 11' 'sims avenue' 'kelantan road'
 'geylang serai' 'woodlands street 32' 'woodlands circle' 'pipit road'
 'ang mo kio street 31' 'clementi street 12' 'kallang bahru'
 'chin swee road' 'pasir ris street 41' 'shunfu road'
 'ang mo kio street 32' 'tampines central 8' 'lengkong tiga'
 'jurong west avenue 3' 'bukit batok west avenue 9' 'chai chee avenue'
 'hoy fatt road' 'holland avenue' 'jurong west street 24' 'whampoa sth'
 'redhill road' 'woodlands avenue 5' 'tampines central 7' 'jalan dua'
 'pasir ris drive 3' 'marsiling lane' 'jurong west central 3'
 'tampines street 84' 'woodlands street 41' 'choa chu kang north 6'
 'woodlands drive 52' 'telok blangah way' 'kim cheng street'
 'sengkang east avenue' 'woodlands drive 44' 'ang mo kio street 61'
 'punggol east' 'choa chu kang street 64' 'woodlands drive 40'
 'woodlands avenue 4' 'redhill lane' 'petir road' 'moh guan terrace'
 'tampines street 86' 'marsiling road' 'sembawang vista'
 'dover close east' 'bukit batok street 22' 'sims drive' 'kim tian place'
 'montreal link' 'lim liak street' 'anchorvale crescent' 'yung ping road'
 'geylang east central' 'whampoa road' 'gloucester road' 'kent road'
 'pasir ris street 13' 'lorong 1a toa payoh' 'jalan kayu'
 'woodlands street 11' 'marsiling crescent' 'lower delta road'
 'ghim moh link' 'silat avenue' 'buangkok green' 'kampong arang road'
 'indus road' 'saujana road' 'cashew road' 'ang mo kio street 11'
 'henderson road' 'smith street' 'senja link' 'tampines central 1'
 'serangoon north avenue 3' 'bedok reservoir crescent'
 'bukit batok west avenue 7' "king george's avenue" 'sengkang west avenue'
 'dakota crescent' 'chander road' 'jalan rajah' 'choa chu kang street 54'
 'tessensohn road' 'hougang street 32' 'aljunied road'
 'tampines street 72' 'canberra walk' 'bedok north street 4'
 'bright hill drive' 'yishun avenue 7' 'ang mo kio street 21'
 'lorong 3 toa payoh' 'choa chu kang north 7' 'owen road'
 'chai chee drive' 'bukit merah lane 1' 'yishun avenue 1'
 'jurong west street 62' 'tampines avenue 1' 'jalan batu'
 'kreta ayer road' 'jurong west street 74' 'yung an road'
 'yung kuang road' 'french road' 'jalan berseh' 'clementi street 11'
 'upper serangoon road' 'sumang link' 'canberra street' 'macpherson lane'
 'queensway' 'haig road' 'ang mo kio street 44' 'commonwealth avenue'
 'ah hood road' 'ang mo kio street 51' 'choa chu kang avenue 7'
 'sembawang way' 'tao ching road' 'moulmein road' 'kim pong road'
 'lorong 6 toa payoh' 'boon keng road' 'ang mo kio avenue 2'
 'lorong 3 geylang' 'jurong west street 51' 'bukit batok east avenue 6'
 'marine parade central' 'seng poh road']
['3 room' '4-room' '3-room' 'executive' '5 room' '4 room' '5-room'
 '2-room' '2 room']
['new generation' 'improved' 'apartment' 'premium apartment' 'simplified'
 'model a' 'standard' 'dbss' 'model a2' 'maisonette' 'model a-maisonette'
 'type s1' 'adjoined flat' 'type s2' 'premium apartment loft' '2-room'
 'premium maisonette' 'terrace' '3gen']
['yes']
['yuhua east' 'bedok north' 'toa payoh central' 'pasir ris drive'
 'bendemeer' 'saujana' 'fernvale' 'shangri-la' 'bishan east'
 'punggol field' 'peng siang' 'pasir ris west' 'bedok south'
 'clementi west' 'pasir ris central' 'guilin' 'sembawang central'
 'hong kah' 'woodgrove' 'commonwealth' 'anchorvale' 'jurong west central'
 'woodlands east' 'townsville' 'yishun west' 'yio chu kang west'
 'anak bukit' 'marine parade' 'alexandra hill' 'north coast' 'teck whye'
 'taman jurong' 'matilda' 'sengkang town centre' 'geylang east' 'fajar'
 'lorong ah soo' 'yunnan' 'hougang east' 'kim keat' 'tampines east'
 'yishun south' 'sembawang north' 'braddell' 'pei chun' 'yishun east'
 'macpherson' 'clementi north' 'telok blangah drive' 'chong boon'
 'tampines west' 'trafalgar' 'woodlands south' 'tiong bahru'
 'margaret drive' 'telok blangah rise' 'yew tee' 'khatib' 'joo seng'
 'punggol town centre' 'northland' 'kembangan' 'clementi central'
 'rivervale' 'kebun bahru' 'potong pasir' 'cheng san' 'hougang west'
 'teban gardens' 'senja' 'toa payoh west' 'choa chu kang north'
 'compassvale' 'ang mo kio town centre' 'serangoon garden' 'geylang bahru'
 'henderson hill' 'boon lay place' 'farrer park' 'hong kah north'
 'midview' 'lower seletar' 'boon teck' 'tai seng' 'everton park' 'kovan'
 'bukit batok central' 'dover' 'marymount' 'depot road' 'upper thomson'
 'redhill' 'bedok reservoir' 'simei' 'bukit batok west' 'mei chin'
 'serangoon central' 'keat hong' 'choa chu kang central' 'sunset way'
 'kaki bukit' 'waterway east' 'gombak' 'city hall' 'wenya' 'aljunied'
 'boon keng' 'bukit ho swee' 'telok blangah way' 'china square'
 'holland drive' 'bukit batok south' 'bukit batok east' 'ghim moh'
 'bangkit' 'victoria' 'toh guan' 'balestier' 'clementi woods' 'kangkar'
 'crawford' 'woodlands west' 'bugis' 'kampong ubi' "pearl's hill"
 'kampong tiong bahru' 'little india' 'yuhua west' 'chinatown'
 'tiong bahru station' 'tanglin halt' 'jelebu' 'sembawang east'
 'serangoon north' 'upper paya lebar' 'admiralty' 'lorong 8 toa payoh'
 'bukit merah' 'brickworks' 'kampong java' 'bencoolen' 'lavender'
 'hougang central' 'yishun central' 'sungei road' 'pasir panjang 2'
 'tanjong rhu' 'swiss club' 'frankel' 'ulu pandan' 'moulmein'
 'kampong bugis']
['jurong east' 'bedok' 'toa payoh' 'pasir ris' 'kallang' 'bukit panjang'
 'sengkang' 'ang mo kio' 'bishan' 'punggol' 'choa chu kang' 'clementi'
 'bukit batok' 'sembawang' 'jurong west' 'woodlands' 'queenstown' 'yishun'
 'bukit timah' 'marine parade' 'bukit merah' 'geylang' 'hougang'
 'tampines' 'serangoon' 'rochor' 'downtown core' 'outram' 'novena']
['west region' 'east region' 'central region' 'north-east region'
 'north region']

##### 2. Split date into a year and a month column and convert to integer

In [118]:
# split date into year and month
data["rent_approval_year"] = data["rent_approval_date"].apply(lambda x: x[:4]).astype(int)
data["rent_approval_month"] = data["rent_approval_date"].apply(lambda x: x[5:]).astype(int)

In [119]:
data

,rent_approval_date,town,block,street_name,flat_type,flat_model,floor_area_sqm,furnished,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region,monthly_rent,rent_approval_year,rent_approval_month
0,2021-09,jurong east,257,jurong east street 24,3 room,new generation,67.0,yes,1983,1.344518,103.738630,0.0,yuhua east,jurong east,west region,1600,2021,9
1,2022-05,bedok,119,bedok north road,4-room,new generation,92.0,yes,1978,1.330186,103.938717,0.0,bedok north,bedok,east region,2250,2022,5
2,2022-10,toa payoh,157,lorong 1 toa payoh,3-room,improved,67.0,yes,1971,1.332242,103.845643,0.0,toa payoh central,toa payoh,central region,1900,2022,10
3,2021-08,pasir ris,250,pasir ris street 21,executive,apartment,149.0,yes,1993,1.370239,103.962894,0.0,pasir ris drive,pasir ris,east region,2850,2021,8
4,2022-11,kallang/whampoa,34,whampoa west,3-room,improved,68.0,yes,1972,1.320502,103.863341,0.0,bendemeer,kallang,central region,2100,2022,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,2021-09,ang mo kio,441,ang mo kio avenue 10,3 room,new generation,67.0,yes,1979,1.366050,103.854168,0.0,chong boon,ang mo kio,north-east region,2200,2021,9
59996,2023-04,bukit merah,95a,henderson road,4-room,model a,83.0,yes,2019,1.286493,103.821434,0.0,henderson hill,bukit merah,central region,4100,2023,4
59997,2022-06,tampines,862a,tampines street 83,5-room,improved,122.0,yes,1988,1.355064,103.936507,0.0,tampines west,tampines,east region,2250,2022,6
59998,2023-01,bedok,67,bedok sth avenue 3,5-room,standard,123.0,yes,1977,1.318974,103.944076,0.0,bedok south,bedok,east region,4700,2023,1
59999,2023-02,ang mo kio,445,ang mo kio avenue 10,3-room,new generation,67.0,yes,1979,1.366980,103.855718,0.0,chong boon,ang mo kio,north-east region,2850,2023,2

##### 3. Clean Up Flat Type Labels (Merge 'x-room' with 'x room' labels)

In [120]:
data['flat_type'].replace({'2 room': '2-room',
                           '3 room': '3-room',
                           '4 room': '4-room',
                           '5 room': '5-room'}, inplace=True)
print(data['flat_type'].unique())

['3-room' '4-room' 'executive' '5-room' '2-room']

##### 4. Remove columns that have no meaningful data - furnished and elevation

In [121]:
data = data.drop(['furnished', 'elevation'], axis='columns')
data.head()

,rent_approval_date,town,block,street_name,flat_type,flat_model,floor_area_sqm,lease_commence_date,latitude,longitude,subzone,planning_area,region,monthly_rent,rent_approval_year,rent_approval_month
0,2021-09,jurong east,257,jurong east street 24,3-room,new generation,67.0,1983,1.344518,103.738630,yuhua east,jurong east,west region,1600,2021,9
1,2022-05,bedok,119,bedok north road,4-room,new generation,92.0,1978,1.330186,103.938717,bedok north,bedok,east region,2250,2022,5
2,2022-10,toa payoh,157,lorong 1 toa payoh,3-room,improved,67.0,1971,1.332242,103.845643,toa payoh central,toa payoh,central region,1900,2022,10
3,2021-08,pasir ris,250,pasir ris street 21,executive,apartment,149.0,1993,1.370239,103.962894,pasir ris drive,pasir ris,east region,2850,2021,8
4,2022-11,kallang/whampoa,34,whampoa west,3-room,improved,68.0,1972,1.320502,103.863341,bendemeer,kallang,central region,2100,2022,11

##### 5. Remove columns where there is too much variation in data
- block (latitude and longitude data can provide more information)
- street name (latitude and longitude data can provide more information)
- town (use planning area is better as there is 3 more classes)
- subzone (planning area + latitude and longitude may give better results)

In [122]:
data = data.drop(['block', 'street_name', 'town', 'subzone'], axis='columns')
data.head()

,rent_approval_date,flat_type,flat_model,floor_area_sqm,lease_commence_date,latitude,longitude,planning_area,region,monthly_rent,rent_approval_year,rent_approval_month
0,2021-09,3-room,new generation,67.0,1983,1.344518,103.738630,jurong east,west region,1600,2021,9
1,2022-05,4-room,new generation,92.0,1978,1.330186,103.938717,bedok,east region,2250,2022,5
2,2022-10,3-room,improved,67.0,1971,1.332242,103.845643,toa payoh,central region,1900,2022,10
3,2021-08,executive,apartment,149.0,1993,1.370239,103.962894,pasir ris,east region,2850,2021,8
4,2022-11,3-room,improved,68.0,1972,1.320502,103.863341,kallang,central region,2100,2022,11

##### 6. Check distribution of flat_model to determine any further steps

In [123]:
data['flat_model'].value_counts()

flat_model
model a                   17122
improved                  17010
new generation            11292
premium apartment          5109
simplified                 2798
standard                   2268
apartment                  2080
maisonette                  956
model a2                    663
dbss                        371
type s1                     108
model a-maisonette           56
adjoined flat                49
type s2                      46
2-room                       34
premium apartment loft       25
premium maisonette            6
terrace                       4
3gen                          3
Name: count, dtype: int64

#### Sanity Check for Data Again

In [124]:
for col in data.columns:
    print(len(data[col].unique()), data[col].unique())

31 ['2021-09' '2022-05' '2022-10' '2021-08' '2022-11' '2023-04' '2021-01'
 '2022-06' '2021-10' '2021-04' '2021-03' '2022-02' '2021-07' '2022-12'
 '2023-01' '2022-01' '2023-07' '2021-06' '2023-05' '2023-03' '2021-05'
 '2021-02' '2022-07' '2023-06' '2022-03' '2023-02' '2021-12' '2022-04'
 '2021-11' '2022-08' '2022-09']
5 ['3-room' '4-room' 'executive' '5-room' '2-room']
19 ['new generation' 'improved' 'apartment' 'premium apartment' 'simplified'
 'model a' 'standard' 'dbss' 'model a2' 'maisonette' 'model a-maisonette'
 'type s1' 'adjoined flat' 'type s2' 'premium apartment loft' '2-room'
 'premium maisonette' 'terrace' '3gen']
146 [ 67.   92.  149.   68.  130.  110.   84.  112.  104.  123.   60.   93.
  91.  113.   69.   81.   73.  121.   97.   64.   65.  100.   98.  141.
  85.  114.   90.   59.  120.  105.  115.  107.  144.  142.  147.  146.
 111.  125.   99.   47.  102.  116.   76.  145.   45.   74.   75.  122.
 106.   96.  117.  103.  132.   82.   70.  124.  119.  127.  101.   88.
 150.  135.  126.   94.   57.  136.   95.  118.   87.   58.   89.  128.
  72.   52.  139.  152.   53.   44.  143.   79.  133.   66.  148.  109.
  63.1 108.   63.  161.   83.   77.  134.  140.  138.   86.  131.   46.
 137.   62.  129.   56.   71.   80.   54.  177.   60.3 154.  159.   43.
  48.  162.  157.  155.   61.  166.   78.  156.   37.   42.  151.  173.
  49.  164.  176.   38.  160.  163.   40.  181.   55.  179.  189.   50.
  51.  153.  186.   34.  182.  192.  170.  215.  165.  180.  158.   83.1
 169.  168. ]
54 [1983 1978 1971 1993 1972 2001 2005 1987 2003 1995 1986 2016 1981 2015
 1988 1984 1967 2002 1980 2000 1996 1985 1989 1975 1997 1998 2004 1977
 2014 1994 1999 1982 1970 2013 1979 1974 2018 2012 1992 2006 1973 1976
 2007 1990 2010 2008 1969 2011 2017 1991 2009 2019 1968 1966]
8612 [1.34451804 1.33018552 1.33224215 ... 1.44514889 1.39835828 1.35201371]
8612 [103.73863033 103.93871661 103.84564306 ... 103.83392566 103.88907437
 103.93199932]
29 ['jurong east' 'bedok' 'toa payoh' 'pasir ris' 'kallang' 'bukit panjang'
 'sengkang' 'ang mo kio' 'bishan' 'punggol' 'choa chu kang' 'clementi'
 'bukit batok' 'sembawang' 'jurong west' 'woodlands' 'queenstown' 'yishun'
 'bukit timah' 'marine parade' 'bukit merah' 'geylang' 'hougang'
 'tampines' 'serangoon' 'rochor' 'downtown core' 'outram' 'novena']
5 ['west region' 'east region' 'central region' 'north-east region'
 'north region']
113 [1600 2250 1900 2850 2100 2300 1800 2450 2400 2000 3150 2700 4850 4400
 2600 2750 2150 2500 3000 3700 1950 1700 2950 4000 2200 1750 4500 4200
 3350 2050 3800 1850 3450 3250 1200 1250 4100 2550 4700 2350 1350 3050
 2800 3900 3100 3200 1050 1450 3300 3400 1650 4050 3550 3650 4600 3600
 1300 2900 4350 5250 3950 3500 3750 6200 4300 1400 5550  650 1100  800
  700 4950 6400 5200 5050 4550  950 3850 4450 5150  850 6500 1500 5600
 1150 4250  750 5350 5450  500 4900 2650 4150 6300 4800  300 6100 4650
 5100  900 1000 5650 6950 1550 5900  400 6000 5800 5000 5500  450 6450
 5400]
3 [2021 2022 2023]
12 [ 9  5 10  8 11  4  1  6  3  2  7 12]

### Data Preprocessing

#### Convert categorical data into numerical data

##### 1. One-Hot Encoding for Flat Type
5 classes, relatively easier to to one-hot encoding

In [125]:
data = pd.get_dummies(data, columns=['flat_type'], dtype="int64")
data

,rent_approval_date,flat_model,floor_area_sqm,lease_commence_date,latitude,longitude,planning_area,region,monthly_rent,rent_approval_year,rent_approval_month,flat_type_2-room,flat_type_3-room,flat_type_4-room,flat_type_5-room,flat_type_executive
0,2021-09,new generation,67.0,1983,1.344518,103.738630,jurong east,west region,1600,2021,9,0,1,0,0,0
1,2022-05,new generation,92.0,1978,1.330186,103.938717,bedok,east region,2250,2022,5,0,0,1,0,0
2,2022-10,improved,67.0,1971,1.332242,103.845643,toa payoh,central region,1900,2022,10,0,1,0,0,0
3,2021-08,apartment,149.0,1993,1.370239,103.962894,pasir ris,east region,2850,2021,8,0,0,0,0,1
4,2022-11,improved,68.0,1972,1.320502,103.863341,kallang,central region,2100,2022,11,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,2021-09,new generation,67.0,1979,1.366050,103.854168,ang mo kio,north-east region,2200,2021,9,0,1,0,0,0
59996,2023-04,model a,83.0,2019,1.286493,103.821434,bukit merah,central region,4100,2023,4,0,0,1,0,0
59997,2022-06,improved,122.0,1988,1.355064,103.936507,tampines,east region,2250,2022,6,0,0,0,1,0
59998,2023-01,standard,123.0,1977,1.318974,103.944076,bedok,east region,4700,2023,1,0,0,0,1,0
59999,2023-02,new generation,67.0,1979,1.366980,103.855718,ang mo kio,north-east region,2850,2023,2,0,1,0,0,0

##### 2. Categorical Encoding for Flat Model

In [127]:
flat_models = data['flat_model'].unique()
categories_flat_model = {f: idx for idx, f in enumerate(flat_models)}

data["flat_model_cat"] = data["flat_model"].apply(lambda x: categories_flat_model[x])
data

,rent_approval_date,flat_model,floor_area_sqm,lease_commence_date,latitude,longitude,planning_area,region,monthly_rent,rent_approval_year,rent_approval_month,flat_type_2-room,flat_type_3-room,flat_type_4-room,flat_type_5-room,flat_type_executive,flat_model_cat
0,2021-09,new generation,67.0,1983,1.344518,103.738630,jurong east,west region,1600,2021,9,0,1,0,0,0,0
1,2022-05,new generation,92.0,1978,1.330186,103.938717,bedok,east region,2250,2022,5,0,0,1,0,0,0
2,2022-10,improved,67.0,1971,1.332242,103.845643,toa payoh,central region,1900,2022,10,0,1,0,0,0,1
3,2021-08,apartment,149.0,1993,1.370239,103.962894,pasir ris,east region,2850,2021,8,0,0,0,0,1,2
4,2022-11,improved,68.0,1972,1.320502,103.863341,kallang,central region,2100,2022,11,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59995,2021-09,new generation,67.0,1979,1.366050,103.854168,ang mo kio,north-east region,2200,2021,9,0,1,0,0,0,0
59996,2023-04,model a,83.0,2019,1.286493,103.821434,bukit merah,central region,4100,2023,4,0,0,1,0,0,5
59997,2022-06,improved,122.0,1988,1.355064,103.936507,tampines,east region,2250,2022,6,0,0,0,1,0,1
59998,2023-01,standard,123.0,1977,1.318974,103.944076,bedok,east region,4700,2023,1,0,0,0,1,0,6
59999,2023-02,new generation,67.0,1979,1.366980,103.855718,ang mo kio,north-east region,2850,2023,2,0,1,0,0,0,0

### Logging
Log the results of the session in Weights & Biases

#### Initialization

In [ ]:
wandb.init(
    project="hdb_rental",
    name="eda"
)

#### Log the data table

In [9]:
table = wandb.Table(data=data, columns=data.columns)

In [10]:
wandb.log({
    "ReningOutofFlats Table": table
})